body {
   font-family:Arial, Helvetica, sans-serif;
   background: rgb(24,43,73);
   background: linear-gradient(90deg, rgba(24,43,73,1) 0%, rgba(0,98,155,1) 25%, rgba(198,146,20,1) 85%, rgba(255,205,0,1) 100%);
   height: 97vh;
   display: flex;
   flex-direction: column;
   padding: 0px 10px 0px 10px;
}
#user_info {
   background: rgb(24,43,73);
   width: 600px;
   fill-opacity: 20%;
   border-radius: 20px;
   padding: 5px 5px 5px 20px;
}
a {
   color: lightblue;
}
a:visited {
   color: lightgray;
}
.input {
   -webkit-text-fill-color: white;
   -webkit-text-size-adjust: auto;
   display: flex;
   justify-content: left;
   align-items: center;
   width: fit-content;
   height: min(15vh, 30px);
   padding: 3px;
}
.dropdown_label {
   font-size: 15pt;
   margin: 0px 5px 0px 0px;
}
.dropdown {
   width: 40vw;
   height: 3vw;
   max-width:150px;
   max-height: 30px;
   min-width: 100px;
   min-height: 25px;
   -webkit-text-fill-color: black;
}
.buttons {
   display: flex;
   border-radius: 20px;
   margin: 15px 0px 15px 0px;
}
.button {
   width: 175px;
   height: 35px;
   border-radius: 15px;
   margin: 0px 5px 0px 5px;
   font-size: 14pt;
}
#tree_display {
   width: 100%;
   background-image: url("./triton.svg");
   background-attachment: fixed;
   background-position: bottom left;
   background-size: 20vw;
   background-repeat: no-repeat;
   display: block;
   /* position: relative; */
   flex-direction: column;
   align-items: center;
   flex: 1;
   border: 10px 0px 0px 10px;
   padding: 10px 10px 10px 10px;
   overflow-x: auto;
   overflow-y: auto;
}
.tree_layer {
   display: flex;
   flex-shrink: 0;
   justify-content: center;
   padding: 0px 10px 0px 10px;
   margin-bottom: 5px;
}
.node {
   width: 5vw;
   min-width: 1vw;
   height: 5vw;
   border-radius: 50%;
   border: solid black 3px;
   background-color: gray;
   display: inline-flex;
   /* flex-basis: auto; */
   /* block-size: fit-content; */
   flex-shrink: 0;
   align-items: center;
   justify-content: center;
   margin: 10px 10px 10px 10px;
}
.course {
   font-size: 10pt;
   color: white;
   font-weight: bold;
}
.hovered {
   background-color: rgba(0,98,155,1);
}
.hovered_prereq {
   background-color: rgba(198,146,20,1);
}